.description {
  @include useRem(16);
  text-align: center;
  line-height: 1.4;

  &--uppercase {
    @include useRem(18);
    text-transform: uppercase;
  }

  &--white {
    color: $white;
  }

  &--left {
    @include useRem(14);
    text-align: left;
    color: $gray;
    line-height: 1.4;
  }
}