.c-button {
  font-size: 12px;
  color: $black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  background: $yellow;
  display: inline-block;
  border-radius: 20px;
  box-shadow: none;
  border: none;
}