.c-desc {
  @include useRem(16);
  text-align: center;
  line-height: 1.4;

  &--2 {
    @include useRem(18);
    text-transform: uppercase;
  }

  &--3 {
    color: $white;
  }

  &--4 {
    @include useRem(14);
    text-align: left;
    color: #b1b1b1;
    line-height: 1.4;
  }
}