.c-title {
  @include useRem(24);
  position: relative;
  color: $black;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background: $yellow;
  }

  &--2 {
    &::before {
      background: $black;
    }
  }

  &--3 {
    color: $white;
  }

  &--4 {
    @include useRem(18);
    color: #b1b1b1;
    text-align: left;

    &::before {
      left: 0;
      transform: none;
    }
  }
}