.about {
  &__visual {
    position: relative;
    max-width: 300px;
    margin: 30px auto 40px;
    
    &-list {
      width: calc(300px - (28px * 2));
      margin: 0 auto;
    }

    &-image {
      img {
        margin: 0 auto;
      }
    }

    &-name {
      @include useRem(16);
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      text-transform: uppercase;
    }

    .prev-btn {
      left: 0;
    }

    .next-btn {
      right: 0;
    }

    .arrow-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 20px 5px;
    }
  }
}