.main-visual {
  position: relative;
  z-index: 1;

  .prev-btn {
    left: 0;
  }

  .next-btn {
    right: 0;
  }

  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
  }

  &__item {
    position: relative;

    &-content {
      max-width: 500px;
      position: absolute;
      bottom: 30px;
      right: 50px;
      color: #FFF;

      h3 {
        @include useRem(36);
        text-align: center;
        font-weight: 600;
        padding: 10px 15px;
        background: rgba(0, 0, 0, .5);
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      p {
        @include useRem(16);
        text-align: center;
      }

      .button-wrap {
        margin: 15px auto 0;
        text-align: center;
      }
    }
  }
}