@mixin useRem($fz) {
	font-size: ( $fz / 13 ) * 1rem;
}

@mixin useColumn($value) {
  flex: 0 0 #{$value};
  max-width: $value;
}

@mixin useBreakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint ) {
		@media screen and (max-width: map-get($breakpoints, $breakpoint) ) {
			@content;
		}
	}
	@else {
		
	}
}

@mixin useBreakpointWithLimit( $limit, $breakpoint ) {
	@media screen and( #{$limit}-width: map-get($breakpoints, $breakpoint) ) {
		@content;
	}
}

@mixin useBreakpointInRange($min, $max) {
	@media ( min-width: $min ) and (max-width: $max ) {
		@content;
	}
}


// @Use absolute position
// "h": horizontal, v: vertical, c: center
@mixin useAbsolute($pos) {
	position: absolute;
	@if $pos == "v" {
		top: 50%;
		transform: translateY(-50%);
	}
	@else if $pos == "h" {
		left: 50%;
		transform: translateX(-50%);
	}
	@else if $pos == "c" {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin useBlockCenter() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}