/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.yellow {
  color: #ffc722;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #212121;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.c-title {
  font-size: 1.84615rem;
  position: relative;
  color: #212121;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.c-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background: #ffc722;
}

.c-title--2::before {
  background: #212121;
}

.c-title--3 {
  color: #FFF;
}

.c-title--4 {
  font-size: 1.38462rem;
  color: #b1b1b1;
  text-align: left;
}

.c-title--4::before {
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.c-desc {
  font-size: 1.23077rem;
  text-align: center;
  line-height: 1.4;
}

.c-desc--2 {
  font-size: 1.38462rem;
  text-transform: uppercase;
}

.c-desc--3 {
  color: #FFF;
}

.c-desc--4 {
  font-size: 1.07692rem;
  text-align: left;
  color: #b1b1b1;
  line-height: 1.4;
}

.c-arrow {
  font-size: 18px;
  padding: 20px 8px;
  color: #212121;
  background: #ffc722;
  z-index: 10;
  cursor: pointer;
}

.c-button {
  font-size: 12px;
  color: #212121;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  background: #ffc722;
  display: inline-block;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.main-nav {
  padding: 10px 0;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item {
  font-size: 1.07692rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 20px;
  color: #b1b1b1;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-nav__item:hover {
  color: #ffc722;
}

.c-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-social__icon {
  padding: 3px;
  font-size: 20px;
  color: #CCC;
}

.c-news-item__image {
  margin-bottom: 10px;
}

.c-news-item__image img {
  width: 100%;
}

.c-news-item__title {
  font-size: 1.38462rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-news-item__excerpt {
  margin-bottom: 20px;
  line-height: 1.4;
}

.l-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

/***** Header *****/
.l-header .logo {
  max-width: 200px;
}

.l-header__top {
  background: #FFF;
}

.l-header__top .l-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header .contact-list {
  margin-left: auto;
  margin-right: 0;
}

.l-header .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  color: #666;
}

.l-header .contact-icon {
  font-size: 18px;
  margin-right: 5px;
}

.l-header .contact-text {
  font-size: 14px;
}

.l-header__bottom {
  background: #000;
}

.l-header__bottom .l-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__bottom .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #b1b1b1;
}

.l-header__bottom .search-input {
  border: none;
  outline: none;
  color: #b1b1b1;
  background-color: transparent;
  font-size: 12px;
  padding: 3px 5px;
}

.l-header__bottom .search-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  color: #b1b1b1;
}

/***** End Header *****/
/***** Footer *****/
.l-footer {
  background: #212121;
  padding: 40px 0;
}

.l-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b1b1b1;
}

.l-footer .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.l-footer .gallery__item {
  padding: 5px;
  width: 24%;
  position: relative;
}

.l-footer .gallery__item img:last-child {
  position: absolute;
  left: 0;
  opacity: 0;
}

.l-footer .gallery__item:hover img:first-child {
  position: absolute;
  left: 0;
  opacity: 0;
}

.l-footer .gallery__item:hover img:last-child {
  position: relative;
  opacity: 1;
}

.l-footer .form {
  margin-top: 20px;
}

.l-footer .form input {
  width: 100%;
  border: 1px solid;
  color: #b1b1b1;
  padding: 8px 5px;
  background-color: transparent;
}

.l-footer .form .l-button {
  margin-top: 10px;
  text-align: right;
}

.l-footer .c-social__list {
  margin-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-footer .copyright {
  color: #b1b1b1;
  text-align: right;
  margin: 30px 0 0;
}

/***** End Footer *****/
/* CSS Document */
.news {
  padding: 40px 0;
}

.news-head {
  margin-bottom: 30px;
}

.about {
  padding: 40px 0;
}

.about-visual {
  position: relative;
  max-width: 300px;
  margin: 30px auto 40px;
}

.about-visual__list {
  width: calc(300px - (28px * 2));
  margin: 0 auto;
}

.about-visual__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-visual__name {
  font-size: 1.23077rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
}

.about-visual .prev-btn {
  left: 0;
}

.about-visual .next-btn {
  right: 0;
}

.about-visual .c-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 5px;
}

.about-match {
  padding: 40px 30px;
  background: #ffc722;
}

.about-match__head {
  margin-bottom: 30px;
}

.about-match__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-match__content .next,
.about-match__content .upcoming {
  width: 50%;
}

.about-match__content .next {
  background: #FFF;
}

.about-match__content .upcoming {
  background: #212121;
}

.about-match .title {
  font-size: 1.38462rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  position: relative;
}

.about-match .title::after {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ffc722;
}

.about-match .time-out {
  font-size: 1.69231rem;
  padding: 20px;
  background: #CCC;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.about-match .time-out--unit {
  color: #666;
}

.about-match .match-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
}

.about-match .match-schedule__item {
  margin: 0 15px 15px;
}

.about-match .match-schedule__vs {
  font-size: 1.23077rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  color: #212121;
  background: #ffc722;
}

.about-match .match-schedule__logo {
  text-align: center;
}

.about-match .match-schedule__name {
  font-size: 1.38462rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
}

.about-match .time-expected {
  color: #b1b1b1;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
  font-size: 1.23077rem;
  margin-bottom: 20px;
}

.about-match .upcoming table {
  width: 100%;
}

.about-match .upcoming tr:first-child th:first-child {
  text-align: left;
}

.about-match .upcoming tr:first-child th:last-child {
  width: 30%;
  text-align: center;
}

.about-match .upcoming tr:nth-child(even) {
  background: #494949;
}

.about-match .upcoming th,
.about-match .upcoming td {
  font-size: 1.07692rem;
  padding: 15px;
  color: #b1b1b1;
}

.about-match .upcoming th {
  font-size: 1.38462rem;
  color: #ffc722;
  text-transform: uppercase;
}

.about-match .upcoming .match {
  width: 60%;
  text-transform: uppercase;
}

.about-match .upcoming .match .yellow {
  margin: 0 10px;
}

.about-match .upcoming .time {
  width: 40%;
  text-align: right;
}

.main-visual {
  position: relative;
  z-index: 1;
}

.main-visual .prev-btn {
  left: 0;
}

.main-visual .next-btn {
  right: 0;
}

.main-visual .c-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.7;
}

.main-visual__item {
  position: relative;
}

.main-visual__item-content {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 30px;
  right: 50px;
  color: #FFF;
}

.main-visual__item-content h3 {
  font-size: 2.76923rem;
  text-align: center;
  font-weight: 600;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main-visual__item-content p {
  font-size: 1.23077rem;
  text-align: center;
}

.main-visual__item-content .l-button {
  margin: 15px auto 0;
  text-align: center;
}

.forecast {
  padding: 40px;
  background-image: url(../images/Slide03.jpg);
  background-size: cover;
  min-height: 300px;
}

.forecast-content {
  margin-top: 30px;
}

.forecast-content__score {
  font-size: 3.69231rem;
  font-weight: bold;
  margin: 0 20px;
  color: #FFF;
}

.forecast .l-button {
  margin-top: 80px;
  text-align: center;
}

.contact {
  padding: 40px 0;
}

.contact-content {
  margin-top: 30px;
}

.contact-map {
  text-align: center;
}

.contact-form input {
  width: 100%;
  margin: 0 auto 20px;
  display: block;
  border: 1px solid #CCC;
  padding: 12px 10px;
}

.contact-form input[name=message] {
  min-height: 100px;
}

.contact-form .l-button {
  margin: 0 auto;
  text-align: right;
}

/***********************************************************

	End Template

***********************************************************/
@media screen and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */