// Use variables 
// Choose code color of webiste 
// Exp: $primary: #34FD65;

// Color Primary Website
$blue: blue;
$cyan: cyan;
$green: green;
$yellow: yellow;
$red: red;
$magenta: magenta;
$purple: purple;
$orange: orange;
$black: black;
$white: white;
$pink: pink;
$brown: brown;
// Continue...
$primary: brown;
$secondary: pink;
// Color States Website 
$alert-primary: #cce5ff;
$alert-secondary: #e2e3e5;
$alert-success: #d4edda;
$alert-danger: #f8d7da;
$alert-warning: #fff3cd;
$alert-info: #d1ecf1;
$alert-light: #fefefe;
$alert-dark: #d6d8d9;
// Color font Website
$font-white: #ffffff;
$font-black: #333333;
$font-grey: #eeeeee;
// Continue...
$font-primary: #453799;
$font-secondary: #453799;
// Value Default

