/***** Header *****/
.header {
  .logo {
    max-width: 200px;
  }

  &__top {
    background: #FFF;
  }

  .contact {
    &__item {
      margin: 0 5px;
      color: #666;
    }

    &__icon {
      font-size: 18px;
      margin-right: 5px;
    }

    &__text {
      font-size: 14px;
    }
  }

  &__bottom {
    background: #000;

    .search {
      border-bottom: 1px solid $gray;

      %formStyle {
        border: none;
        outline: none;
        background-color: transparent;
        color: $gray;
      }

      input {
        @extend %formStyle;
        font-size: 12px;
        padding: 3px 5px;
      }

      button {
        @extend %formStyle;
        padding: 10px;
      }
    }
  }
}
/***** End Header *****/
