.main-nav {
  padding: 10px 0;

  &__item {
    @include useRem(14);
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
    color: $gray;
    transition: .3s;
    
    &.active,
    &:hover {
      color: #ffc722
    }
  }
}